# GitHub Auth
GITHUB_USERNAME=YOUR_GITHUB_USERNAME
GITHUB_TOKEN=YOUR_GITHUB_TOKEN_HERE

# AI API Key (Gemini)
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

# Supabase (Storage & DB)
SUPABASE_URL=YOUR_SUPABASE_URL_HERE
SUPABASE_KEY=YOUR_SUPABASE_KEY_HERE

# Target Repository
TARGET_REPO=YOUR_TARGET_REPO

# DB Credentials
DB_HOST=YOUR_DB_HOST
DB_PORT=6543
DB_NAME=postgres
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
